@import "tailwindcss";

@layer components {
    .rounded-container {
        @apply !rounded-md;
    }

    .rounded-component {
        @apply !rounded-lg;
    }
}

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
        "Helvetica Neue", "Arial", "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";

    --color-black: var(--color-black);
    --color-overlay: var(--color-neutral-950);

    --color-primary: #D4163C;
    --color-primary-lightest: #EEA2B1;
    --color-primary-light: #E15C77;
    --color-primary-dark: #BF1435;
    --color-primary-darkest: #9F112D;
    --color-primary-text: var(--color-white);

    --color-secondary: #4784AF;
    --color-secondary-lightest: #B5CEDF;
    --color-secondary-light: #7EAAC7;
    --color-secondary-dark: #3F789E;
    --color-secondary-darkest: #346483;
    --color-secondary-text: var(--color-white);

    --color-tertiary: #C0B6B4;
    --color-tertiary-lightest: #E6E2E1;
    --color-tertiary-light: #D3CCCB;
    --color-tertiary-dark: #ADA4A2;
    --color-tertiary-darkest: #908987;
    --color-tertiary-text: var(--color-black);

    --color-surface: var(--color-white);
    --color-surface-lightest: #FFFFFF;
    --color-surface-light: var(--color-neutral-50);
    --color-surface-dark: var(--color-neutral-100);
    --color-surface-darkest: var(--color-neutral-300);
    --color-surface-text: var(--color-black);
    --color-surface-text-placeholder: #BFBFBF;

    --color-success: #C1DD97;
    --color-success-text: var(--color-black);

    --color-warning: #E4C25E;
    --color-warning-text: var(--color-black);

    --color-error: #D17F81;
    --color-error-lightest: #EFD2D2;
    --color-error-light: #E4B4B5;
    --color-error-dark: #C9696B;
    --color-error-darkest: #B44143;
    --color-error-text: var(--color-black);
}

body {
    @apply bg-surface;
    @apply font-sans;
}