@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* =~= Theme Properties =~= */
        --theme-font-family: 'Inter', 'ui-sans-serif', 'system-ui', '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
        --theme-font-color-base: var(--color-primary-900);
        --theme-border-base: 1px;

        /* =~= Theme On-X Colors =~= */
        --text-on-primary: 255 255 255;
        --text-on-secondary: 255 255 255;
        --text-on-tertiary: 255 255 255;
        --text-on-success: var(--color-primary-900);
        --text-on-warning: var(--color-primary-900);
        --text-on-error: var(--color-primary-900);
        --text-on-surface: 0 0 0;

        /* =~= Theme Colors  =~= */
        /* primary | #1F2041 */
        --color-primary-50: 221 222 227;
        /* #dddee3 */
        --color-primary-100: 210 210 217;
        /* #d2d2d9 */
        --color-primary-200: 199 199 208;
        /* #c7c7d0 */
        --color-primary-300: 165 166 179;
        /* #a5a6b3 */
        --color-primary-400: 98 99 122;
        /* #62637a */
        --color-primary-500: 31 32 65;
        /* #1F2041 */
        --color-primary-600: 28 29 59;
        /* #1c1d3b */
        --color-primary-700: 23 24 49;
        /* #171831 */
        --color-primary-800: 19 19 39;
        /* #131327 */
        --color-primary-900: 15 16 32;
        /* #0f1020 */

        /* secondary | #67579E */
        --color-secondary-50: 232 230 240;
        /* #e8e6f0 */
        --color-secondary-100: 225 221 236;
        /* #e1ddec */
        --color-secondary-200: 217 213 231;
        /* #d9d5e7 */
        --color-secondary-300: 194 188 216;
        /* #c2bcd8 */
        --color-secondary-400: 149 137 187;
        /* #9589bb */
        --color-secondary-500: 103 87 158;
        /* #67579E */
        --color-secondary-600: 93 78 142;
        /* #5d4e8e */
        --color-secondary-700: 77 65 119;
        /* #4d4177 */
        --color-secondary-800: 62 52 95;
        /* #3e345f */
        --color-secondary-900: 50 43 77;
        /* #322b4d */

        /* tertiary | #6290C8 */
        --color-tertiary-50: 231 238 247;
        /* #e7eef7 */
        --color-tertiary-100: 224 233 244;
        /* #e0e9f4 */
        --color-tertiary-200: 216 227 241;
        /* #d8e3f1 */
        --color-tertiary-300: 192 211 233;
        /* #c0d3e9 */
        --color-tertiary-400: 145 177 217;
        /* #91b1d9 */
        --color-tertiary-500: 98 144 200;
        /* #6290C8 */
        --color-tertiary-600: 88 130 180;
        /* #5882b4 */
        --color-tertiary-700: 74 108 150;
        /* #4a6c96 */
        --color-tertiary-800: 59 86 120;
        /* #3b5678 */
        --color-tertiary-900: 48 71 98;
        /* #304762 */

        /* success | #62E498 */
        --color-success-50: 231 251 240;
        /* #e7fbf0 */
        --color-success-100: 224 250 234;
        /* #e0faea */
        --color-success-200: 216 248 229;
        /* #d8f8e5 */
        --color-success-300: 192 244 214;
        /* #c0f4d6 */
        --color-success-400: 145 236 183;
        /* #91ecb7 */
        --color-success-500: 98 228 152;
        /* #62E498 */
        --color-success-600: 88 205 137;
        /* #58cd89 */
        --color-success-700: 74 171 114;
        /* #4aab72 */
        --color-success-800: 59 137 91;
        /* #3b895b */
        --color-success-900: 48 112 74;
        /* #30704a */

        /* warning | #FFF275 */
        --color-warning-50: 255 253 234;
        /* #fffdea */
        --color-warning-100: 255 252 227;
        /* #fffce3 */
        --color-warning-200: 255 252 221;
        /* #fffcdd */
        --color-warning-300: 255 250 200;
        /* #fffac8 */
        --color-warning-400: 255 246 158;
        /* #fff69e */
        --color-warning-500: 255 242 117;
        /* #FFF275 */
        --color-warning-600: 230 218 105;
        /* #e6da69 */
        --color-warning-700: 191 182 88;
        /* #bfb658 */
        --color-warning-800: 153 145 70;
        /* #999146 */
        --color-warning-900: 125 119 57;
        /* #7d7739 */

        /* error | #FA0F3A */
        --color-error-50: 254 219 225;
        /* #fedbe1 */
        --color-error-100: 254 207 216;
        /* #fecfd8 */
        --color-error-200: 254 195 206;
        /* #fec3ce */
        --color-error-300: 253 159 176;
        /* #fd9fb0 */
        --color-error-400: 252 87 117;
        /* #fc5775 */
        --color-error-500: 250 15 58;
        /* #FA0F3A */
        --color-error-600: 225 14 52;
        /* #e10e34 */
        --color-error-700: 188 11 44;
        /* #bc0b2c */
        --color-error-800: 150 9 35;
        /* #960923 */
        --color-error-900: 123 7 28;
        /* #7b071c */

        /* surface | #939E9F */
        --color-surface-50: 239 240 241;
        /* #eff0f1 */
        --color-surface-100: 233 236 236;
        /* #e9ecec */
        --color-surface-200: 228 231 231;
        /* #e4e7e7 */
        --color-surface-300: 212 216 217;
        /* #d4d8d9 */
        --color-surface-400: 179 187 188;
        /* #b3bbbc */
        --color-surface-500: 147 158 159;
        /* #939E9F */
        --color-surface-600: 132 142 143;
        /* #848e8f */
        --color-surface-700: 110 119 119;
        /* #6e7777 */
        --color-surface-800: 88 95 95;
        /* #585f5f */
        --color-surface-900: 72 77 78;
        /* #484d4e */
    }
}

body {
    background-color: rgb(var(--color-surface-50));
    font-family: var(--theme-font-family);
    padding: 8px;
}